# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin-filebrowser
spec:
  template:
    spec:
      volumes:
        - name: config
          configMap:
            defaultMode: 420
            name: jellyfin-filebrowser
        - name: media
          persistentVolumeClaim:
            claimName: jellyfin-jellyfin-media
      containers:
        - name: filebrowser
          volumeMounts:
            - mountPath: /.filebrowser.json
              name: config
              subPath: .filebrowser.json
            - mountPath: /srv
              name: media
