# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: jellyfin
resources:
  - jellyfin.Certificate.yaml
  - openssh-server-sshd-config.ConfigMap.yaml
  - Deployment.yaml
  - Service.yaml
