# SPDX-FileCopyrightText: 2025 NONE
#
# SPDX-License-Identifier: Unlicense

apiVersion: v1
kind: ConfigMap
metadata:
  name: openssh-server-sshd-config
data:
  sshd_config: |
    # This is the sshd server system-wide configuration file.
    Port 2222
    AddressFamily any
    ListenAddress 0.0.0.0
    ListenAddress ::

    HostKey /config/ssh_host_rsa_key
    HostKey /config/ssh_host_ecdsa_key
    HostKey /config/ssh_host_ed25519_key

    # LifetimeStrategy
    ClientAliveInterval 300
    ClientAliveCountMax 3

    # Authentication:
    PubkeyAuthentication yes
    AuthorizedKeysFile .ssh/authorized_keys

    # Disable password authentication
    PasswordAuthentication no
    PermitEmptyPasswords no

    # Restrict jellyfin user to /data directory
    Match User jellyfin
      ChrootDirectory /data
      AllowAgentForwarding no
      AllowTcpForwarding no
      PermitTTY yes
      X11Forwarding no
      PermitUserRC no
